{% load static %}
{% load djmoney %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="up">
            <h3 class="h3 text-center">Auctions</h3>
            <div>
                {% if user.is_authenticated %}
                    <div class="text-right mx-2">Signed in as <strong>{{ user.username }}</strong></div>
                {% else %}
                    <div class="text-right mx-2">Not signed in</div>
                {% endif %}
            </div>
        </div>
        <ul class="nav d-flex justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'auctions:index' %}">Active Listings</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'auctions:watchlist' request.user %}">Watchlist<span class="badge badge-secondary">{{count}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'auctions:add_listing' %}">Add Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'auctions:logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'auctions:login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'auctions:register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
