{% extends "auctions/layout.html" %}
{% load static %}
{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-4 border-right">

            {% if no_item_message %}
                <p>{{title}},{{no_item_message}}</p>
            {% elif listing.active == False %}
                <div class="jumbotron">
                    {% if hs_bid.winning_bid.first.winner != request.user %}
                        <h1 class="display-4">Winner!</h1>
                        <p class="lead">{{hs_bid.winning_bid.first.winner|title}} has posted the highest bid of {{hs_bid.winning_bid.first.hs_bid.amount}} 
                            and is the winner of this listing.
                        </p>
                        <hr class="my-4">
                        <p>As per regulations, within 3 working days,{{listing}} will be handed over to {{hs_bid.winning_bid.first.winner}}</p>
                    {% else %}
                        <h1 class="display-4">Congratulations!</h1>
                        <p class="lead">You have posted the highest bid of {{hs_bid.winning_bid.first.hs_bid.amount}} 
                            and has been elected as the winner of this listing.
                        </p>
                        <hr class="my-4">
                        <p>As per regulations, within 3 working days,{{listing}} will be handed over to you! :-)</p>
                    {% endif %}
                </div>
                <table class="table table-sm table-striped rounded table-success text-center">
                    <thead>
                        <tr>
                            <th scope="col">Listing</th>
                            <th>Winner</th>
                            <th>Base Price</th>
                            <th>Winning Bid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{hs_bid.listing}}</td>
                            <td>{{hs_bid.winning_bid.first.winner}}</td>
                            <td>{{listing.bs_bid}}</td>
                            <td>{{hs_bid.winning_bid.first.hs_bid.amount}}</td>        
                        </tr>
                    </tbody>
                </table>
            {% else %}
                    <img src="{{listing.img.url}}" class="img-thumbnail w-50" alt="{{listing.title}}">
                    <div class="mt-2">
                        <strong>Title:</strong> {{listing.title}} <br>
                        <strong>Description:</strong> {{listing.text}} <br>
                        <strong>Owner:</strong> {{listing.owner.username|title}} <br>
                        <strong>Category: </strong>{{listing.category}}
                    </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 border-right">
                {% if message %}
                    <div class="alert alert-primary" role="alert">
                        {{message}}
                    </div>
                {% endif %}
                <table class="table table-sm table-striped rounded table-success text-center">
                    <thead>
                        <tr>
                            <th scope="col">Base Price</th>
                            <th>Highest Bid</th>
                            <th>Highest Bidder</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{listing.bs_bid}}</td>
                            {% if hs_bid %}
                                <td>{{hs_bid.amount}}</td>
                                <td>{{hs_bid.user|title}}</td>
                            {% else %}
                                <td>No bid yet</td>
                                <td>N/A</td>    
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                
                
                {% if user.is_authenticated %}
                    <form action="{% url 'auctions:post_bid' %}" method="POST">
                        {% csrf_token %}
                        <div class="fieldWrapper mb-3">
                            {{ form.amount.errors }}
                            {{ form.amount.label_tag }}
                            {{ form.amount }}
                            <small>Amount must be greater than the base price & current highest bid!</small>
                        </div>
                        {% if request.user in listing.watchlist.all %}
                            <div class="fieldWrapper mb-3">
                                {{ form.remove_watchlist.errors }}
                                {{ form.remove_watchlist.label_tag }}
                                {{ form.remove_watchlist }}
                            </div>
                        {% else %}
                        <div class="fieldWrapper mb-3">
                            {{ form.watchlist.errors }}
                            {{ form.watchlist.label_tag }}
                            {{ form.watchlist }}
                        </div>
                        {% endif %}

                        <input type="hidden" name="listing_info" value="{{listing}}">
                        {% if listing.owner == request.user %}
                            {{listing_form.as_p}}
                        {% else %}
                            <input type="hidden" name="active" id="id_active" value="{{listing.active}}">
                        {% endif %}
                        <input class="btn btn-dark btn-sm" type="submit" value="Submit">
                    </form>
                    <hr>
                    <form action="{% url 'auctions:save_comment' %}" method="POST">
                        {% csrf_token %}
                        <div class="fieldWrapper mb-3">
                            {{comment_form.comment.errors}}
                            {{comment_form.comment.label_tag}}
                            {{comment_form.comment}}
                        </div>
                        <input type="hidden" name="listing" value="{{listing}}">
                        <input class="btn btn-block btn-dark btn-sm" type="submit" value="Submit Comment">
                    </form>
                    <br>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                <div>
                    <h4>Comments</h4>
                    {% for comment in comments %}
                    <div class="my-1 px-2">
                        <strong>{{comment.user|title}}</strong><br>
                        {{comment.text}}<br>
                        <small>{{comment.datetime}}</small>
                        <hr>
                    </div>
                    {% empty %}
                        <p>No comments posted</p>
                    {% endfor %}
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


            